<!DOCTYPE html>
<html>


<head>
<title>page2</title>

<link rel="stylesheet" type="text/css" href="country2.css">

</head>


<body>
<script src="page2.js"></script>

<div class="square">

<h1>
Welcome to Travel-Pedia! 
</h1>

<p>
An online traveler's guide to discover everything you need to know about your next destinations, from the weather to the cultures and languages of the destinations.
</p>

 

<div class="dropdown" style="float:left;">
  <button class="dropbtn">North America</button>
  <div class="dropdown-content" style="left:0;">
    <a href="#">Canada</a>
    <a href="#">United States </a>
    <a href="#">Mexico</a>
    <a href="#">Jamaica</a>
    <a href="#">Bahamas</a>
  </div>
</div>
<div class="dropdown" style="float:left;">
  <button class="dropbtn">Australia</button>
  <div class="dropdown-content" style="left:0;">
    <a href="#">Australia</a>
    
    </div>
  </div>


<div class="dropdown" style="float:left;">
  <button class="dropbtn">South America</button>
  <div class="dropdown-content">
    <a href="#">Venezuela</a>
    <a href="#">Colombia</a>
    <a href="#">Peru</a>
    <a href="#">Brazil</a>
    <a href="#">Argentina</a>
    <a href="#">Bolivia</a>
  </div>
</div>

<div class="dropdown" style="float:left;">
  <button class="dropbtn">Europe</button>
  <div class="dropdown-content">
    <a href="#">France</a>
    <a href="#">Italy</a>
    <a href="#">Greece</a>
    <a href="#">Austria</a>
    <a href="#">Spain</a>
    <a href="#">United Kingdom</a>
  </div>
</div>

<div class="dropdown" style="float:left;">
  <button class="dropbtn">Africa</button>
  <div class="dropdown-content">
   <a href="#">Ghana</a>
    <a href="#">Mali</a>
    <a href="#">South Africa</a>
    <a href="#">Egypt</a>
    <a href="#">Nigeria</a>
    <a href="#">Ethiopia</a>
         <a href="#">Congo</a>
  </div>
</div>


<div class="dropdown" style="float:left;">
  <button class="dropbtn">Asia</button>
  <div class="dropdown-content">

<a href="#">China</a>
    <a href="#">India</a>
    <a href="#">Japan</a>
    <a href="#">Turkey</a>
    <a href="#">Thailand</a>
    <a href="#">Saudi Arabia</a>
  </div>
</div>





</div>







</body>


</html>
